@import 'mixins.scss';

$font-family-roboto: 'Roboto', sans-serif;
$font-family-inter: 'Inter', sans-serif;
$color-background: rgb(255, 255, 255);
$color-white: white;
$color-text: var(--Color-text-text);
$color-border: #e4e3e3;
$color-grey: #8f8f8f;
$color-green: #b8ffb8;
$color-black:black;
$font-size-small: 11px;
$font-size-big: 14px;
$padding-small: 3px;
$padding-medium: 9px 9px;
$border-radius: 8px;